*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a, button{
    all: unset;
    cursor: pointer;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-text);
}

html{
    scroll-behavior: smooth;
}

span, p{
    line-height: 1.4em;
}

/* COMMON */
:root{
    --header-height: 70px;
    --hero-color: #B4D0E7;
    --gap-col: 25px;
    --space-section: 40px;
    --btn-color: #0061FF;
    --font-text: 0.9rem;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: var(--gap-col);
}

.y-center{
    align-items: center;
}

.container-large{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

}
.container-small{
    width: 75%;
    max-width: 1100px;
    margin: 0 auto;
}


h2{
    font-size: 1.8rem;
}

.col-small{
    width: calc(100% / 3 - var(--gap-col));
}

.col-medium{
    width: 40%;
}

.col-large{
    width: 60%;
}

[class^="box-banner"]{
    width: calc(100% / 3);
}

.pd-main{
    padding-top: 100px;
}

.pd20{
    padding: 20px 0px;
}

.pd30{
    padding: 30px 0px;
}

.pd40{
    padding: 40px 0px;
}

.pd-top{
    padding-top: 20px;
}

.pd-card{
    padding: 25px 25px 0px 25px;
}

.pd-li{
    padding-bottom: 15px;
}

.link{
    color: var(--btn-color);
    text-decoration: underline;
}

section, main, .subscription{
    padding-bottom: var(--space-section);
}

.btn{
    padding: 8px 10px;
    background-color: var(--btn-color);
    color: white;
    text-align: center;
    border: 1px solid var(--btn-color);
    transition: all 0.5s ease;
}

.btn-white{
    padding: 8px 10px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    transition: all 0.5s ease;
}

button.btn-large{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
}


/* HEADER */

header{
    height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: white;
    justify-content: space-between;
    color: black;
    padding: 0px 10px;
    border-bottom: 1px solid lightgray;
}

.header-left ul li img{
    width: 80px;
}

.header-right{
    justify-content: end;
}

/* MAIN */

/* hero */
.hero{
    background-color: var(--hero-color);
    margin-bottom: 100px;
}

.hero h1{
    font-size: 3rem;
    font-weight: 800;
}

.hero-col-small{
    width: calc(100% / 3);
}

.hero-col-small .fa-arrow-down{
    padding-top: 50px;
    padding-bottom: 10px;
}

.fa-arrow-down{
    font-size: 3em;
    transition: 0.5s ease;
}

.hero-col-large{
    width: calc(100% / 3 * 2);
    padding: 40px;
    position: relative;
}

.hero-col-large img{
    position: absolute;
    top: 0;
    left: 0;
}   

/* buisness plan */

.billing-box{
    padding-bottom: 30px;
    justify-content: start;
}
.billing-box span:first-of-type{    
    padding-left: 10px;
}

.billing input[type='radio'] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 3px solid var(--btn-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;   
  }

.billing input[type='radio']:before {
    font: var(--fa-font-solid);
    content: '\f058';
    color: var(--btn-color);
    opacity: 0;
    font-size: 25px;
    cursor:pointer;
}

.billing input[type='radio']:checked:before {
    opacity: 1;

}

.subscription{
    justify-content: space-between;
}

.subscription .col-small, .enterprise{
    border: 1px solid lightgray;
}

.type-sub{
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
.title-sub{
    line-height: 2em;
}
.anniversary{
    display: block;
    color: grey;
}

.subscription .col-small li span{
    padding-left: 0.62em;
}

.col-small hr, .box-banner-tx hr{
    width: 25%;
    opacity: 50%;
}

.subscription .col-small .highlights li i{
    color: var(--btn-color);
}

.enterprise .pd-card .title-sub{
    width: 70%;
}

.enterprise .pd-card div:last-child:not(.btn){
    width: 30%;
    text-align: center;
}
/* partner */

.partner{
    align-items: start;
}

/* dropbox business */

/* numbers */

.numbers{
    padding: 100px 0px;
}

/* banner logos */

.banner-logos{
    align-items: start;
}

.box-logo{
    width: 50%;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.box-logo img{
    object-fit: cover;
    object-position: center;
    filter: invert(100%);
    width: 50%;
}

.box-banner-lf .box-logo:nth-child(1){
    background-color: #A2D39B;
    border: 5px solid #c3ffbb;
}
.box-banner-lf .box-logo:nth-child(2){
    background-color: #61082B;
}

.box-banner-lf .box-logo:nth-child(3){
    background-color: #0093CE;
}

.box-banner-lf .box-logo:nth-child(4){
    background-color: #FF1C1C;
}

.box-banner-tx{
    background-color: #F5F5F5;
    overflow: auto;
    padding: 30px;
    aspect-ratio: 1 / 1;
}

.box-banner-tx img{
    width: 50%;
}

.box-banner-rt .box-logo:nth-child(1){
    background-color: #D5001F;

}
.box-banner-rt .box-logo:nth-child(2){
    background-color: #B4D0E7;
}

.box-banner-rt .box-logo:nth-child(3){
    background-color: #0D2481;
}

.box-banner-rt .box-logo:nth-child(4){
    background-color: #FFD830;
}

/* freetrial */

.free-trial{
    background-color: var(--hero-color);
    padding: 100px 0px;
    margin-bottom: 40px;
}

.free-trial h2{
    color: #61082B;
}

.free-trial .container-small{
    align-items: start;
}

.free-trial .container-small .col-medium{
    padding: 0px 40px;
}

.free-trial .container-small .col-medium{
    border: 0px;
}

/* faq */

.faq div.flex{
    justify-content: space-between;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
}

footer .container-large{
    justify-content: space-between;
}

.col-footer ul li{
    line-height: 2rem;
}

.col-footer{
    width: calc(100% / 5 - var(--gap-col));
}

footer hr{
    width: 10%;
    min-width: 80px;
    opacity: 50%;
}

.language{
    min-width: 9em;
    width: 15%;
    position: relative;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
}
  
select {
    all: unset;
    width: 100%;
    padding: 4px;
    color:white;
    cursor: pointer;
}

select option{
    color: black;
}
  
.language::after {
    font: var(--fa-font-solid);
    content: "\f0d8";
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.language:hover, .language:hover select{
    color: var(--btn-color);
}

/* EFFECTS */

/* header */

header li{
    position: relative;
    transition: color 0.5s ease 0s; 
}

header li:not(.no-effects)::after { 
    content: "";
    height: 4px; 
    left: 0; 
    bottom: 0; 
    width: 0px;  
    position: absolute; 
    z-index: -1;
    transition: width 0.5s ease 0s; 
}

header li:hover:after{ 
    width: 100%;
    background: var(--btn-color) 
}
header li:hover{
    color: var(--btn-color);
}

header li{
    height: var(--header-height);
}   

.fa-arrow-down:hover{
    color: var(--btn-color);
}

/* button */

.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid var(--btn-color);
    border-radius: 20px;
    box-shadow: 2px 2px var(--btn-color);
}

.btn-white:hover{
    background-color: var(--btn-color);
    color: white;
    border: 1px solid var(--btn-color);
    border-radius: 20px;
}

/* faq */

.faq .fa-chevron-up{
    display: none;
}
.faq p {
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: all 0.7s ease;
}

.faq div.pd20:hover p{
    height: auto;
    opacity: 1;
    padding-top: 20px;
}

.faq div.pd20:hover .fa-chevron-up{
    display: block;
}

.faq div.pd20:hover .fa-chevron-down{
    display: none;
}

/* footer */

footer a:hover{
    border-bottom: 1px solid var(--btn-color);
    color: var(--btn-color);
}
