*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    all: unset;
    cursor: pointer;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */
:root{
    --header-height: 60px;
    --hero-color: #B4D0E7;
    --gap-col: 15px;
    --space-section: 40px;
    --btn-color: #0061FF;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.gap15{
    gap: var(--gap-col);
}

.y-center{
    align-items: center;
}

.container-large{
    width: 80%;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
}
.container-small{
    width: 75%;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
}


.col-small{
    width: calc(100% / 3 - var(--gap-col));

    /* debug */
    background-color: lightgray;
    height: 100px;
}

.col-medium{
    width: 40%;
    /* debug */
    background-color: cadetblue;
    height: 300px;
}

.col-large{
    width: 60%;
    /* debug */
    background-color: bisque;
    height: 300px;
}

.box-banner{
    width: calc(100% / 3);
    /* debug */
    background-color: gold;
    /* height: 300px; */
    border: 2px solid white;
}


.hero,
.buisness-plan,
.partner,
.dropbox-buisness,
.numbers,
.banner-logos,
.free-trial,
.faq{
    margin-bottom: var(--space-section);
}

.btn-small{
    padding: 5px 10px;
    background-color: var(--btn-color);
    color: white;
}

/* DEBUG */
.hero .container-large{
    background-color: orange;
    height: 300px;
}

main section:nth-child(1){
    background-color: aquamarine;
}

.faq > div{
    background-color: darksalmon;
    border: 1px solid black;
    height: 100px;
}

/* HEADER */

header{
    height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    justify-content: space-between;
    color: black;
    padding: 0px 10px;
    font-size: 0.8rem;
}

.header-left img{
    width: 25%;
    min-width: 95px;
}

.header-right{
    justify-content: end;
}

/* MAIN */

/* hero */
.hero{
    background-color: var(--hero-color)
}

.hero-col-small{
    width: 30%;
    /* debug */
    background-color: black;
    height: 250px;
}

.hero-col-large{
    width: 70%;
    /* debug */
    background-color: rgb(100, 100, 100);
    height: 250px;
}


/* buisness plan */

.title-buisness{
    /* debug */
    height: 100px;
    background-color: blueviolet;
    margin-bottom: 20px;
}

.buisness-plan .flex{
    justify-content: space-between;
}

.enterprise{
    /* debug */
    height: 100px;
    background-color: blueviolet;
    margin-top: 20px;
}
/* partner */

/* dropbox business */

/* numbers */

/* banner logos */

.box-logo{
    width: 50%;
    aspect-ratio: 1 / 1;
    /* height: 100%; */
    /* debug */
    background-color: red;
    border: 1px solid white;
}

/* freetrial */

/* faq */

/* FOOTER */

footer{
    background-color: black;
}

.col-footer{
    width: calc(100% / 5 - var(--gap-col));
    /* debug */
    background-color: white;
    height: 300px;
}